In [11]:
import pandas as pd
import numpy as np

In [31]:
df = pd.DataFrame({"Age":[20,43,63,26,53,31,58,46,58,70,46,53,60,20,63,43,26,19,31,23],
                    "BP":[120,128,141,126,134,128,136,132,140,144,128,136,146,124,143,130,124,121,126,123]})

In [32]:
df.sample(5)

    Age   BP
14   63  143
19   23  123
17   19  121
3    26  126
1    43  128

In [14]:
test = df.tail(5)
train = df.head(15)

In [42]:
def simple_linear_regression(X,y):
    n = float(len(X))
    sum_x = X.sum()
    sum_y = y.sum()
    sum_xy = (X*y).sum()
    sum_xx = (X**2).sum()
    
    # formula for w0
    slope = (sum_xy - (sum_x*sum_y)/n)/(sum_xx - (sum_x*sum_x)/n)
    
    # formula for w1
    intercept = sum_y/n - slope*(sum_x/n)    
    return (round(intercept,15), round(slope,15))

In [43]:
x_train = np.array(train['Age'])
x_test = np.array(test['Age'])
y_train = np.array(train['BP'])
y_test = np.array(test['BP'])

In [44]:
simple_linear_regression(x_train,y_train)

(112.12036803175182, 0.456611942991158)

In [45]:
from scipy import stats
slope, intercept, r_value, p_value, std_err = stats.linregress(x_train, y_train)

In [46]:
slope

0.45661194299116

In [47]:
intercept

112.12036803175175